.main_section {
    height: calc(100vh - 140px);
}

.descTitleGroup {
    display: grid;
    text-transform: uppercase;
    color: #FFFFFF;
}

.descTitleGroup .descTitle {
    grid-area: 1/1/-1/-1;
}

.descTitleGroup .descTitle:nth-of-type(1) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 38%, 0% 58%);
    color: transparent;
    background: #fef3c7;
    background-clip: text;
    -webkit-background-clip: text;
}

.descTitleGroup .descTitle:nth-of-type(2) {
    clip-path: polygon(0% 64%, 100% 44%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, #241900 25%, #fef3c7 100%);
    background: linear-gradient(177deg, #241900 25%, #fef3c7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}

.up_text {
    --glow-color: hsl(58, 16%, 39%);
    background: inherit;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.012em #ffee00b2;
    filter: drop-shadow(0px 0px 5px var(--glow-color)) drop-shadow(0px 0px 10px var(--glow-color));
}